body{
	width:100%;
}
#nav_buttons {
	padding: 11px;
}

#btnAddEvent {
	float: right;
	padding: 5px;
}

#btnExtra {
	float: left;
}

#footer {
	padding-top: 100px;
	text-align: center;
}

#space {
	padding-top: 20px;
}

#miniSpace {
	padding-top: 5px;
}

#downloadIcs {
	margin: auto;
	float: right;
	padding-top: 20px;
}

#eventDetails {
	padding: 10px;
	padding-bottom: 30px;
}

#calendar {
	margin: auto;
	width: 80%;
}

#searchResultsRow {
	padding-top: 10px;
}

#card1 {
	float: left;
	padding-left: 60px;
	padding-bottom: 40px;
}

#card2 {
	float: right;
	padding-right: 60px;
	padding-bottom: 40px;
}

#btnSearch {
	float: right;
}

#fieldSearch {
	float: left;
}

#searchRow {
	width: 60%;
}

#apiMarker {
	text-align: right;
}

.home--banner{
	text-align: center;
	background: url(http://i.imgur.com/wVpIicX.jpg);
	background-size: cover;
	width: 100%;
	height: 91vh;
}

.home--clickable{
	text-align: center;
    display : inline-block;
    width: 25%;
    position: relative;
    /* border: 1px solid rgb(252, 246, 246); */
	margin: 4% 4% 4% 4%
	
}

.home--clickable h3{
	color: black;
	font-size: 2rem;
	font-family: 'Titillium Web', 'Gotham SSm 2r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
	font-weight: 200;
    font-style: normal;
	letter-spacing: -1px;
}