body {

}

#nav_buttons {
	padding: 11px;
}

#btnAddEvent {
	float: left;
	padding: 5px;
}

#btnExtra {
	float: right;
	padding: 5px;
}

#footer {
	padding-top: 100px;
	text-align: center;
}

#space {
	padding-top: 20px;
}

#miniSpace {
	padding-top: 5px;
}

#btnDownloadIcs {
	margin: auto;
	padding-top: 20px;
}

#eventDetails {
	padding: 10px;
	padding-bottom: 30px;
}
