body {

}

#nav_buttons {
	padding: 11px;
}

#btnAddEvent {
	float: right;
	padding: 5px;
}

#btnExtra {
	float: left;
}

#footer {
	padding-top: 100px;
	text-align: center;
}

#space {
	padding-top: 20px;
}

#miniSpace {
	padding-top: 5px;
}

#downloadIcs {
	margin: auto;
	float: right;
	padding-top: 20px;
}

#eventDetails {
	padding: 10px;
	padding-bottom: 30px;
}

#calendar {
	margin: auto;
	width: 80%;
}

#searchResultsRow {
	padding-top: 10px;
}

#card1 {
	float: left;
	padding-left: 60px;
	padding-bottom: 40px;
}

#card2 {
	float: right;
	padding-right: 60px;
	padding-bottom: 40px;
}

#btnSearch {
	float: right;
}

#fieldSearch {
	float: left;
}

#searchRow {
	width: 60%;
}

#apiMarker {
	text-align: right;
}